@font-face {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  src: local('Jockey One'), local('JockeyOne-Regular'), url(font.woff) format('woff');
}

*{
	margin: 0;
	padding: 0;
}

body {
	padding: 50px;
	background: url("../images/bg.jpg");
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	font-family: 'Jockey One', sans-serif;
	color: black;
}

a {
	color: rgb(1, 124, 185);
	text-decoration: none;
}

li {
	list-style: none outside none;
}

.content {
	background: rgba(255,255,255,0.8);
	overflow: hidden;
	zoom: 1;
	margin: 30px auto 0;
	width: 1000px;
	border-radius: 20px;
}

.menu {
	z-index: 1;
}

#nav {
	zoom: 1;
	margin: 30px 30px 30px 200px;
	width: 700px;
}
#nav > li{
	float: left;
	display: block;
	position: relative;
	background: rgba(183,183,183,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5cfd8', endColorstr='#9ca8b1',GradientType=0 ); /* IE6-8 */
	-webkit-transition: all 0.25s ease-in .0038s;
    -moz-transition: all 0.25s ease-in .0038s;
    -o-transition: all 0.25s ease-in .0038s;
    transition: all 0.25s ease-in .0038s;
}

#nav li:first-child {
	border-left: none;
	border-radius: 5px 0 0 5px;
}
#nav li:last-child {
	border-radius: 0 5px 5px 0;
	border-right: none;
}
#nav li:last-child::after {
	display: none;
}
#nav .sub-menu {
	z-index: 1;
	position: absolute;
	right: 0;
	left: -1px;
	top: 100%;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 0 rgba(84,95,109,0.75),0 2px 0 rgba(84,95,109,0.75),0 3px 0 rgba(84,95,109,0.75);
	background-color: #d9e0e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZTBlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNWNkZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top,  #d9e0e5 0%, #c5cdd3 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9e0e5), color-stop(100%,#c5cdd3)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #d9e0e5 0%,#c5cdd3 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #d9e0e5 0%,#c5cdd3 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #d9e0e5 0%,#c5cdd3 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #d9e0e5 0%,#c5cdd3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e0e5', endColorstr='#c5cdd3',GradientType=0 ); /* IE6-8 */
	display: none;
}
#nav > li:hover {
	background: rgba(183,183,183,1);
	position: relative;
}
#nav li:hover > ul {
	display: block;
}

#nav a {
	display: block;
	float: left;
	padding: 15px 30px;
	font-size: 16px;
	color: #2d2f38;
	text-shadow: 0 1px 0 rgba(225,232,235,0.75);
	-webkit-transition: all 0.25s ease-in .0038s;
    -moz-transition: all 0.25s ease-in .0038s;
    -o-transition: all 0.25s ease-in .0038s;
    transition: all 0.25s ease-in .0038s;
}

#nav a:hover {
	color: #2281cd;
}

#nav .sub-menu a {
	color: #2d2f38;
	font-size: 14px;
	padding: 10px 30px;
	float: none;
}

#nav .sub-menu a:hover {
	background-color: #a4b0ba; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjBiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZDVkZWU0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I1YzBjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(top,  #a4b0ba 0%, #d5dee4 4%, #b5c0c9 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b0ba), color-stop(4%,#d5dee4), color-stop(100%,#b5c0c9)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #a4b0ba 0%,#d5dee4 4%,#b5c0c9 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #a4b0ba 0%,#d5dee4 4%,#b5c0c9 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #a4b0ba 0%,#d5dee4 4%,#b5c0c9 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #a4b0ba 0%,#d5dee4 4%,#b5c0c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b0ba', endColorstr='#b5c0c9',GradientType=0 ); /* IE6-8 */
	box-shadow: 0 1px 0 rgba(255,255,255,0.75),inset 0 2px 6px rgba(69,78,90,0.15);
}

#nav .sub-menu li:last-child a:hover {
	border-radius: 0 0 5px 5px;
}

#nav form {
	padding: 15px 30px;
}

.title-img {
	position: relative;
	margin: 100px 0 0;
	background: url("../images/title.jpg");
	background-size:100% 100%;
	background-repeat: no-repeat;
	width: 1000px;
	height: 150px;
}

.target {
	min-height: 500px;
	max-height: 100px
	position: relative;
	margin: 30px 50px 30px;
	width: 900px;
	display: -webkit-box;
  	-webkit-box-orient: horizontal;
}

.foot {
	background-color: black;
	width: 1000px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.site-footer {
	position: relative;
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	line-height: 1.5;
	color: #777;
	border-top: 1px solid #49AB47;
}

.site-footer-links {
	float:left;
	margin:0;
	list-style:none
}

.site-footer-links.right{
	float: right;
	margin-right: 10px;
}

.site-footer-links li{
	display:inline-block;
	line-height:16px
}

.site-footer-links li+li{
	margin-left:10px
}

.site-footer-links img{
	display:block
}

.site-footer-links a{
	color: #4183c4;
	text-decoration: none;
}

.welcome {
	/*font-size: 28px;*/
	width: 900px;
	text-align: center;
}

.project {
	width: 900px;
	text-align: left;
}

.project-title {
	color: #5B5B5B;
	font-size: 36px;
}

.project-des {
	font-size: 18px;
	color: black;
}

.project-box {
	display: -moz-box; 
    display: -webkit-box; 
    display: box; 
}

.project-box-left {
	width: 150px;
	-moz-box-flex: 1; 
    -webkit-box-flex: 1; 
    box-flex: 1;
}

.project-box-right {
	width: 750px;
	-moz-box-flex: 5; 
    -webkit-box-flex: 5; 
    box-flex: 5;
}

.project img {
	width: 115px;
	height: 115px;
}

.project-box p {
	font-size: 15px;
}

.project ul li {
	border: 3px solid black;
	margin: 10px 10px 10px 0;
    background-size: 100% 100%;
    text-align: left;
    border-radius:20px;
}

.project ul li a {
	padding: 10px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    -webkit-border-radius: 15px;
}

.project ul li a:hover {
    background: rgb(175, 128, 80);
    color: #fff;
    text-shadow:2px 2px 10px #f00;
    -webkit-transition:background 0.8s ease-out, color 0.4s ease-out, text-shadow 0.3s linear;
}

.learnning {
	width: 900px;
	text-align: left;
}

.learnning-title {
	color: #5B5B5B;
	font-size: 36px;
}

.learnning ul li {
	border: 3px solid black;
	margin: 10px 10px 10px 0;
    background-size: 100% 100%;
    text-align: left;
    line-height: 50px; 
    border-radius:20px;
}

.learnning ul li a {
	padding: 10px;
    height: 55px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    -webkit-border-radius: 15px;
}

.learnning ul li a:hover {
    background: rgb(175, 128, 80);
    color: #fff;
    text-shadow:2px 2px 10px #f00;
    -webkit-transition:background 0.8s ease-out, color 0.4s ease-out, text-shadow 0.3s linear;
}

.blog {
	width: 900px;
	text-align: left;
}

.blog-title {
	color: #5B5B5B;
	font-size: 36px;
}

.blog-des {
	font-size: 18px;
	color: black;
}

.blog ul li {
	border: 3px solid black;
	margin: 10px 10px 10px 0;
    background-size: 100% 100%;
    text-align: left;
    line-height: 50px; 
    border-radius:20px;
}

.blog ul li a {
	padding: 10px;
    height: 55px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    -webkit-border-radius: 15px;
}

.blog ul li a:hover {
    background: rgb(175, 128, 80);
    color: #fff;
    text-shadow:2px 2px 10px #f00;
    -webkit-transition:background 0.8s ease-out, color 0.4s ease-out, text-shadow 0.3s linear;
}

.share {
	width: 900px;
	text-align: left;
}

.share-title {
	color: #5B5B5B;
	font-size: 36px;
}

.share ul li {
	border: 3px solid black;
	margin: 10px 10px 10px 0;
    background-size: 100% 100%;
    text-align: left;
    line-height: 50px; 
    border-radius:20px;
}

.share ul li a {
	padding: 10px;
    height: 55px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    -webkit-border-radius: 15px;
}

.share ul li a:hover {
    background: rgb(175, 128, 80);
    color: #fff;
    text-shadow:2px 2px 10px #f00;
    -webkit-transition:background 0.8s ease-out, color 0.4s ease-out, text-shadow 0.3s linear;
}

.about {
	width: 900px;
	text-align: left;
}

.about h2 {
	margin-top: 20px;
	color: #898989;
}

.about-title {
	color: #5B5B5B;
	font-size: 36px;
}

.about-des {
	font-family: "微软雅黑";
	font-size: 18px;
	width: 700px;
	margin-top: 20px;
}

.about .project-list {
	margin-top: 10px;
}

.about .project-list .item li{
	font-family: "微软雅黑";
	font-size: 18px;
}

.project-list font{
	font-family: "微软雅黑";
	color: #8c4600;
}

.project-item {
	width: 700px;
	font-size: 18px;
}

.self-info-list {
	margin-top: 20px;
	text-align: left;
}

.self-info-list li {
	display: inline-block;
	line-height: 30px;
	margin-left: 20px;
	font-size: 25px;
}

.self-info-list li:first-child {
	margin-left: 0px;
}

.self-info-item {
	color: rgb(175, 128, 80);
}